<div id="container">
  <main class="">
    <section
      id="hero"
      class="flex flex-col gap-y-5 items-center justify-center min-h-screen"
    >
      <h1
        class="lg:text-2xl font-bold cursor-default flex items-center gap-x-1.5 select-none"
      >
        <span class="animate-wave inline-block">👋</span>Welcome to my <span
          class="text-primary">{" "}Personal Website</span
        >
      </h1>
      <p class="lg:text-7xl font-bold">
        Hi, <span class="text-secondary">I'm</span>
        <span
          class="underline decoration-secondary/50 decoration-2 underline-offset-8"
          >Peter Pham</span
        >
      </p>
    </section>
  </main>
</div>
