<div id="container">
  <main class="">
    <section
      id="hero"
      class="flex flex-col gap-y-12 items-center justify-center min-h-[100dvh] lg:min-h-screen"
    >
      <h1
        class="lg:text-2xl font-bold cursor-default flex items-center gap-x-1.5 select-none"
      >
        <span class="animate-wave inline-block">👋</span>Welcome to my <span
          class="text-primary">{" "}Personal Website</span
        >
      </h1>
      <p class="text-4xl lg:text-7xl font-bold">
        Hi, <span class="text-secondary">I'm</span>
        <span
          class="underline decoration-secondary/50 decoration-2 underline-offset-8"
          >Peter Pham</span
        >
      </p>
      <p class="max-w-3xl font-semibold lg:text-lg text-center">
        I am a <span class="text-primary">Software Engineer </span>specializing
        in <span class="text-secondary">Frontend Development</span>, with a
        strong focus on building dynamic and user-friendly applications using <span
          class="text-blue-500"
          >React.js
        </span>, <span class="text-purple-500">Vite</span>.
      </p>
    </section>
  </main>
</div>
